
server {
	ssl_ciphers ALL:!EXP:!NULL:!ADH:!LOW:!SSLv2:!SSLv3:!MD5:!RC4;

	limit_conn addr {{ nginx_slimit_connections | default(5) }};

	location ~ /\. { 
		deny all; 
		return 404; 
	}

	location ~ /\.well-known\/acme-challenge {
		allow all;
	}

	## Deny certain Referers ###
	if ( $http_referer ~* (babes|forsale|girl|jewelry|love|nudit|organic|poker|porn|sex|teen) )
	{
		# return 404;
		return 403;
	}
	##

	# Only requests to our Host are allowed i.e. nixcraft.in, images.nixcraft.in and www.nixcraft.in
	if ($host !~ ^({{ (nginx_allow_access_domains | default(['localhost'], true)) | join('|')  }})$ ) {
		return 444;
	}
	##

{%- if nginx_allowed_methods | default([]) | length > 0 -%}
	## Only allow these request methods ##
	if ($request_method !~ ^({{ nginx_allowed_methods | join('|') }})$ ) {
		return 444;
	}
	## Do not accept DELETE, SEARCH and other methods ##
{% endif %}

	#return 404;
}
